/*
body {
    font-family: Raleway;
  }
    h1 {
        color:green;
        font-size:36px;
        text-transform: uppercase;
    }
    #heading-1{
      color:red;
      font-size: 72px;
    }
    .section-title {
      color:rgb(72, 65, 65);
      font-size: 36px;
      font-family: Merriweather;
    }
table, tr, td, th{
  border:2px solid black;
  border-collapse: collapse;
}
*/