/* UNIVERSAL SELECT*/
:root {
  --primary-color:#ffe57c;
  --body-bg-color:#09091b;
  --sec-bg-color:#060613;
  --secondary-color:rgb(235, 70, 70);
  --secondary-color-light:rgba(235, 70, 70, 0.25);
  --text-color:rgb(38, 36, 36);
  --heading-font-size:20px;
  --heading-font-family:Raleway;
  --body-text-family:Roboto;
  --text-font-size:16px;

}
* {
  margin: 0;
  padding: 0;
}

/* CSS html  */
html {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

main,
footer {
  padding: 30px;
}

body {

  font-family:Roboto;
  line-height: 160%;
  color:var(--text-color);
}
main {
  width: 80%;
  margin: 200px auto;
}
section h2 {
    color:  var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    color:rgb(37, 35, 35);
    color:var(--secondary-color);
    letter-spacing: 2px;;
    font-family: Roboto;
    /* font-family:Raleway; */
    /* 
    Roboto
    Nunito
    Raleway
    Lora
      Montserrat
      Open+Sans
      Poppins
      Oswals
      Roboto+Slab
      Work+Sans
      Karla
   
     */
}
section {
  margin: 20px auto;
  padding: 30px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow:  0 1px 2px #0000003d,0 1px 3px #0000001f;
 /*  background-color: var(--sec-bg-color);
  color:#ffffffc7; */
  border-radius: 5px;
}
section article h2 {
  margin-bottom: 15px;
}
.countries article {
  padding: 20px;

}
section ul li {
  list-style: none;
}
p {
  margin-bottom: 15px;
}
.down-arrow-wrapper a,
.up-arrow-wrapper a {
  color:#eb4646;
  font-weight: bold;
}
.fa-chevron-down,
.fa-chevron-up {
  font-size: 35px;
  opacity: 0.35;
}
.fa-chevron-down:hover,
.fa-chevron-up:hover {
  opacity: 1;
}
table,td, th {
  width:100%;
  border:2px solid #ffe57c;
  border-collapse: collapse;
  table-layout : fixed;
  text-align: left;
}
th {
  text-align: center;
  background-color: #eb4646;
  background-color: #ffe57c;
}
td, th {
  padding-left:5px;
}
/* form */

form {
  width: 50%;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 5px auto;

}
.form-group label {
  margin-bottom: 5px;


}
.form-group input {
  border: 1px solid var(--secondary-color-light);
  outline:1px solid var(--secondary-color-light);
  padding:10px;
}
.form-group input:hover, .form-group input:focus {
  outline:2px solid  var(--secondary-color);
}
.form-group select {
  padding:10px;
}

@media (max-width: 480px ) {
  main {
    margin-top:380px;
    margin-bottom: 150px;
    width:100%;
    
  }
  h2 {
    font-size:18px;
  }
  p {
    font-size: 14px;
  }
  img {
    width:30%;
  }
  video, auto {
    width:100%;
  }
  section {
    margin:10px auto; 
    padding:10px;
    width:100%;
  }
  section ul li {
    font-size: 14px;

  }
  
 
}

@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {
 
}

@media (min-width: 1200px) {
 
}