/* UNIVERSAL SELECT*/
* {
  margin: 0;
  padding: 0;
}

/* CSS html  */
html {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

main,
footer {
  padding: 30px;
}

body {

  font-family:Roboto;
  line-height: 160%;
}
main {
  width: 80%;
  margin: 200px auto;
}
section h2 {
    color:  #ffe57c;
    font-weight: bold;
    text-transform: uppercase;
    color:rgb(37, 35, 35);
    color:#eb4646;
    letter-spacing: 2px;;
    font-family: Roboto;
    /* font-family:Raleway; */
    /* 
    Roboto
    Nunito
    Raleway
    Lora
      Montserrat
      Open+Sans
      Poppins
      Oswals
      Roboto+Slab
      Work+Sans
      Karla
   
     */
}
section {
  margin: 20px auto;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}
section article h2 {
  margin-bottom: 15px;
}
.countries article {
  padding: 20px;

}
section ul li {
  list-style: none;
}
p {
  margin-bottom: 15px;
}
.down-arrow-wrapper a,
.up-arrow-wrapper a {
  color:#eb4646;
  font-weight: bold;
}
.fa-chevron-down,
.fa-chevron-up {
  font-size: 35px;
  opacity: 0.35;
}
.fa-chevron-down:hover,
.fa-chevron-up:hover {
  opacity: 1;
}

@media (max-width: 480px ) {
  main {
    margin-top:380px;
    margin-bottom: 150px;
    width:100%;
    
  }
  h2 {
    font-size:18px;
  }
  p {
    font-size: 14px;
  }
  img {
    width:30%;
  }
  video, auto {
    width:100%;
  }
  section {
    margin:10px auto; 
    padding:10px;
    width:100%;
  }
  section ul li {
    font-size: 14px;

  }
  
 
}
table,td, th {
  width:100%;
  border: 1px solid rgb(157, 150, 150);
  border:1px solid rgb(135, 80, 236);
  border-collapse: collapse;
  table-layout : fixed;
  text-align: left;
}
th {
  text-align: center;
  background-color: #eb4646;
  background-color: rgb(135, 80, 236);
  color:white;
}
td, th {
  padding-left:5px;
}
/* form */

form {
  width: 50%;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 5px auto;

}
.form-group label {
  margin-bottom: 5px;


}
.form-group input {
  border: 1px solid  rgb(192, 172, 231);
  outline:1px solid  rgb(192, 172, 231);
  padding:10px;
}
.form-group input:hover, .form-group input:focus {
  outline:2px solid  rgb(135, 80, 236);
}
.form-group select {
  padding:10px;
}
@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {
 
}

@media (min-width: 1200px) {
 
}